@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background: #fff;
}
.container {
  max-width: 1000px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}
table {
  width: 100%;
  border-collapse: collapse;
}

.header_fixed {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
  border: 10px solid #ffff;
}

.header_fixed thead th {
  position: sticky;
  top: 0;
  background-color: #dddddd;
  color: black;
  font-size: 15px;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid #dddddd;
  padding: 10px 20px;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: #808080;
}

tr:hover td {
  color: #a07217;
  cursor: pointer;
  background-color: #ffffff;
}
.unit {
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 21px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
}

td button {
  border: none;
  padding: 10px 50px;
  border-radius: 20px;
  background-color: #a07217;
  color: #e6e7e8;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
