.container-p h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
  padding-left: 400px;
}
.container-p .back {
  border: 1px solid white;
  background-color: white;
  font-size: 20px;
  padding-left: 40px;
}

.whole-p form {
  display: flex;
  float: right;
  flex-wrap: wrap;
  margin-top: 30px;
  width: 600px;
  height: 300px;
  padding: 30px 5px;
}
.whole-p input {
  margin: 10px 20px 10px 10px;
  border: 1px solid black;
  border-radius: 20px;
  height: 20px;
  width: 150px;
}
.change {
  width: 100px;
  height: 20px;
  background-color: #a6821d;
  color: white;
  border: 1px;
  border-radius: 20px;
  margin-left: 5px;
  font-weight: bold;
}
.edit {
  background-color: #a6821d;
  color: white;
  border: 1px;
  border-radius: 20px;
  font-weight: bold;
  width: 200px;
  height: 30px;
  margin-top: 50px;
  margin-left: 30px;
}
.card {
  display: block;
  padding-left: 70px;
  padding-top: 20px;
  width: 150px;
  height: 200px;
  margin-top: 40px;
  margin-left: 80px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px lightgray;
}
.card img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.card p {
  font-size: 20px;
}
.edit {
  font-size: 20px;
}
@media (max-width: 670px) {
  .card {
    box-sizing: border-box;
    display: block;
    /* justify-content: center; */
    justify-content: center;
    max-width: 670px;
    height: 50px;
    padding-top: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
  }
  form {
    display: flex;
    width: 600px;
  }
}
